

API_KEY =  '"6039fbed431b328883864921a1080884"'

ACCESS_TOKEN = '"eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MDM5ZmJlZDQzMWIzMjg4ODM4NjQ5MjFhMTA4MDg4NCIsIm5iZiI6MTc4OTA4NzM0Ni41Niwic3ViIjoiNmFhMzRlNzIwNDc5NjdjYmQ2OGNlNWM2Iiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.Ln36sZbiaq7UtLuDZe3WvTAEu6FzOcSs7vbMePb5gGE"'



